<!DOCTYPE html>
  <head>
    <title>Domov</title>
    <meta charset="utf-8" />
    <link rel='shortcut icon' type='image/x-icon' href='/static/favicon.ico'/>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel='icon' href='/static/favicon.ico' type='image/x-icon'/ >
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    
  </head>
  <body>
{% extends "base.html" %}

{% block app_content %}

 <!-- Wrapper -->
      <div id="wrapper">
       
        <!-- Header -->
          <header id="header">
            <span class="avatar"><img src="static/images/logo.png" alt=""/></span>
            <h1><b>Toto je <strong>Osobný web </strong>, Stefan Jancar <a href="{{ url_for('main.home') }}"><u>O mne</u></a><br />
            a mojej vášni pre programovanie.</b></h1>
            <ul class="icons">
              <li><a href="https://twitter.com/stefanjancar1" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="https://www.facebook.com/python3.sk/" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="https://www.instagram.com/python3.sk/" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
              <li><a href="https://web.500px.com/" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
              
            </ul>
          </header>

     <!-- Main -->
          <section id="main">

            <!-- Thumbnails -->
            <section class="thumbnails">
              
                <div>
                    <a target="_blank" href="https://www.python.org/">
                    <img src="/static/images/01.jpg" alt=""/>
                    <h3>PYTHON</h3>
                  </a>
                  <a target="_blank" href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">
                    <img src="/static/images/02.jpg" alt="" />
                    <h3>FLASK</h3>
                  </a>
                </div>
                <div>
                  <a target="_blank" href="https://www.w3schools.com/css/">
                    <img src="/static/images/03.jpg" alt="" />
                    <h3>CSS</h3>
                  </a>
                  <a target="_blank" href="https://www.w3schools.com/html/default.asp">
                    <img src="/static/images/04.jpg" alt="" />
                    <h3>HTML</h3>
                  </a>
                  <a target="_blank" href="https://www.w3schools.com/js/default.asp">
                    <img src="/static/images/05.jpg" alt="" />
                    <h3>JAVASCRIPT</h3>
                  </a>
                </div>
                <div>
                  <a target="_blank" href="https://devcenter.heroku.com/start">
                    <img src="/static/images/06.jpg" alt="" />
                    <h3>HEROKU</h3>
                  </a>
                  <a target="_blank" href="https://www.digitalocean.com/community/tutorials">
                    <img src="/static/images/07.jpg" alt="" />
                    <h3>DIGITAL OCEAN</h3>
                  </a>
                </div>
              </section>

          </section>

<!-- Scripts -->
      <script src="/static/assets/js/jquery.min.js"></script>
      <script src="/static/assets/js/jquery.poptrox.min.js"></script>
      <script src="/static/assets/js/skel.min.js"></script>
      <script src="/static/assets/js/main.js"></script>
      <script src="/static/js/vue.js"></script>
      <script src="/static/assets/js/moment.js"></script>
      <script src="/static/myform/form.js"></script>

   
{% endblock %}
  </body>
</html>